//mixins
@mixin nospace{
    margin:0;
    padding:0;
}

@mixin text-align{
    text-align: center;
}

@mixin boxmodel ($margin, $padding){
    margin: $margin;
    padding: $padding;
}

@mixin display($display){
    display: $display;
}

@mixin diff-display ($display, $flex-flow, $justify-content){
    display: $display;
    flex-flow: $flex-flow;
    justify-content: $justify-content;
}

