 @media (min-width: 550px) {
    #main-aboutus {
      flex-flow:row wrap;
      justify-content: space-around;
    }
  
    .contactus {
      display: flex;
    }
  
    .contactdetail {
      margin: 35px;
      white-space: nowrap;
    }
  
    .contactus img {
      float: right;
    }
  
    section .aboutus {
      display:flex;
      justify-content: center;
      align-items: center;
    }
  
    .adetails {
      box-sizing: content-box;
      width: fit-content;
    }
  
    .images {
      margin-top: 5%;
    }
  
    .contactus img {
      width: 100%;
      float: right;
    }
  
    .navlist {
      @include nospace;
      list-style-type: none;
      @include display(flex,row wrap);
      justify-content: center;
    }
  
    section {
      align-content: center;
    }
  
    .header-main {
      text-align: left;
      margin-left: 0;
      padding: 10px;
      width: 100%;
    }
  
    img {
      margin-top: 5%;
      margin-right: 5%;
      float: left;
    }
  
    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto auto auto auto;
      gap: 10px;
      padding: 10px;
    }
  
    .grid-container > div {
      text-align: center;
      padding: 20px 0;
      font-size: 30px;
    }
  
    .item1 {
      grid-row: 1;
    }
  
    .item2 {
      grid-row: 2;
    }
  
    .item3 {
      grid-row: 3;
    }
  
    hgroup {
      margin-left: 0;
      padding: 10px;
    }
  }