/*variables*/
$main-font: "Poppins", sans-serif;
$body-font: "Lato", sans-serif;
$bkgd-color: #f2f2f2;
$primary-blue: #082B59;
$secondary-coffee: #59331d;
$accent-peach: #d98555;
$std-space: 1rem;
$baseFontSize: 1rem;
$mainFontSize: $baseFontSize*2;